@page
@using CommonLibrary
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="fs-4">@ProjectInformation.GetTitle()</h1>
    @* for strong tag *@
    <p>@Html.Raw(Model.Description)</p>
</div>
